.containerApresentation{
    width: 100%;
    height: auto;

    display: flex;
}

.textApresentation{
    width: 50%;
    margin-bottom: 100px;
}

.textApresentation h2{
    font-size: 60px;
    color: var(--letraLaranja);
    margin-top: 15%;
    margin-left: 10%;
}

.textApresentation p{
    color: var(--color-text);
    margin-left: 10%;
    margin-top: 2%;
    width: 80%;
    font-size: 30px;
    font-weight: 300;
    line-height: 45px;
}

.textApresentation button{
    width: 200px;
    height: 60px;
    font-size: 30px;
    color: var(--letraLaranja);
    background-color: var(--bg-button);
    border: 0;
    border-radius: 5px;
    margin-top: 7%;
    margin-left: 10%;
    cursor: pointer;

    &:hover{
        background-color: var(--letraLaranja);
        color: var(--bg-button);
    }
}

.imgApresentation{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.imgApresentation img{
    width: 60%;
    height: auto;
    margin-top: 5%;
}

@media(max-width: 720px){
    .textApresentation h2{
        font-size: 40px;
        margin-left: 15%; 
    }
    .textApresentation p{
        color: var(--color-text);
        margin-left: 15%;
        width: 120%;
        font-size: 20px;
       
    }

    .imgApresentation{        
        width: 0;
    }
    .imgApresentation img{
        display: none;        
    }

    .textApresentation button{
        margin-left: 50%;
    }
}