.containerCompanies {
    width: 100%;
    height: auto;
    background-color: var(--bg-components);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerCompanies h2{
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    margin-top: 1%;
    margin-bottom: 1%;
    color: var(--color-text);
}

.containerCompanies p{
    font-weight: 300;    
    font-size: 20px;
    line-height: 27px;
    color: var(--color-text);
}

@media(max-width:720px){
    .containerCompanies h2{
        font-size: 34px;
        color: var(--letraLaranja);
    }
    .containerCompanies p{
        font-weight: 300;    
        font-size: 14px;        
    }
    .containerCompanies img{
        width: 100%;
    }
}