.homeApresentation{
    width: 100%;
    height: auto;
}

.homeContainer{
    width: 100%;
    height: auto;   
}

.footerContainer{
    width: 100%;
    height: auto;   
}

.footerContainer h2{
    color: var(--letraLaranja);
    font-size: 40px;
    font-weight: 400;
    margin: 7% 5%;
}

@media(max-width: 720px){
    .footerContainer h2{
        font-size: 30px;
        margin-bottom: 15%;
    }
}