.containerFotter{
    width: 100%;
    background-color: var(--letraLaranja);
    display: flex;
    margin-top: 10%;
}

.containerFotter div{
    width: 100%;
    height: auto;
}

.footerLinks{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    color: var(--bg-header);
}

.footerLinks span{
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 30px;
}

.footerLinks a{
    color: var(--bg-header);
    text-decoration: none;
    margin-bottom: 7px;
    font-size: 18px;
}

.footerLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLogo img{
    width: 50%;
    height: auto;
    opacity: 0.5;
}

.footerLogo span{
    color: var(--bg-header);
}

.footterAdress{
    color: var(--bg-header);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

.footterAdress h1{
    margin-right: 13%;
    margin-bottom: 6%;
    font-size: 25px;
}

.footterAdress span{
    margin-right: 5%;
}

.icon{
    margin-right: 3px;
    margin-left: -23px;
}

@media(max-width: 720px){
    .containerFotter{
        flex-direction: column;
    }
    .footerLogo img{
        width: 70%;
        margin-top: -50%;
        opacity: 0.1;
    }
    .footerLinks h1{
        font-size: 24px;
        text-align: center;
        
    }
    .footerLinks span{
        font-size: 20px;
        text-align: center;
    }

    .footerLinks a{
        margin-left: 67%;
    }

    .icon{
        display: none;
    }
    .footterAdress h1{
        font-size: 22px;
        margin-right: 68%;
        margin-top: -57%;
    }

    .footterAdress span{
        margin-right: 57%;
    }
}